In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5431/ny_taxi')
engine.connect()

In [4]:
dtypes ={
    'store_and_fwd_flag':str
    , 'tpep_pickup_datetime': str
    , 'tpep_dropoff_datetime': str
    , 'passenger_count': 'Int64'
    , 'trip_distance': float
    , 'RatecodeID': 'Int64'
    , 'store_and_fwd_flag': str
    , 'PULocationID': 'Int64'
    , 'DOLocationID': 'Int64'
    , 'payment_type': 'Int64'
    , 'fare_amount': float
    , 'extra': float
    , 'mta_tax': float
    , 'tip_amount': float
    , 'tolls_amount': float
    , 'improvement_surcharge': float
    , 'total_amount': float
    , 'congestion_surcharge': float
}

df_iter = pd.read_csv('output.csv.gz', iterator=True, chunksize=100000, dtype=dtypes, compression = 'gzip')

df = next(df_iter)
print(pd.io.sql.get_schema(df, con=engine, name='schema'))

CREATE TABLE schema (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [64]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-01-05 10:38:40,2021-01-05 10:46:20,<NA>,1.30,<NA>,NaN,170,161,<NA>,7.00,0.00,0.5,1.03,0.00,0.3,11.33,2.5
1300001,NaN,2021-01-05 10:17:14,2021-01-05 10:41:21,<NA>,7.90,<NA>,NaN,216,198,<NA>,31.49,0.00,0.5,2.75,0.00,0.3,35.04,0.0
1300002,NaN,2021-01-05 10:39:00,2021-01-05 10:46:00,<NA>,0.98,<NA>,NaN,62,62,<NA>,16.23,0.00,0.5,2.75,0.00,0.3,19.78,0.0
1300003,NaN,2021-01-05 10:05:00,2021-01-05 10:19:00,<NA>,1.59,<NA>,NaN,85,71,<NA>,13.45,0.00,0.5,2.75,0.00,0.3,17.00,0.0
1300004,NaN,2021-01-05 10:18:08,2021-01-05 10:41:40,<NA>,9.87,<NA>,NaN,236,208,<NA>,30.23,0.00,0.5,2.75,6.12,0.3,39.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,<NA>,8.80,<NA>,NaN,135,82,<NA>,21.84,2.75,0.5,0.00,0.00,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,<NA>,5.86,<NA>,NaN,42,161,<NA>,26.67,2.75,0.5,0.00,0.00,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,<NA>,4.45,<NA>,NaN,14,106,<NA>,25.29,2.75,0.5,0.00,0.00,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,<NA>,10.04,<NA>,NaN,175,216,<NA>,28.24,2.75,0.5,0.00,0.00,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,<NA>,4.93,<NA>,NaN,248,168,<NA>,20.76,2.75,0.5,0.00,0.00,0.3,24.31,0.0

In [5]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df_header = df.head(0)
df_header.to_sql(name= 'yellow_taxi_data', con = engine, if_exists='replace')

0

In [6]:
i = 1

while True:

    t_start = time()


    df = next(df_iter)

    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(name= 'yellow_taxi_data', con = engine, if_exists='append')
    
    t_end = time()
    
    print(f'{i}º pedaço inserido em {(t_end - t_start):.1f}')

    i += 1

1º pedaço inserido em 10.8
2º pedaço inserido em 9.9
3º pedaço inserido em 9.8
4º pedaço inserido em 9.8
5º pedaço inserido em 9.6
6º pedaço inserido em 8.8
7º pedaço inserido em 9.6
8º pedaço inserido em 9.7
9º pedaço inserido em 9.2
10º pedaço inserido em 9.8
11º pedaço inserido em 8.8
12º pedaço inserido em 8.7
13º pedaço inserido em 6.0

StopIteration: